/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: fixed;
    width: 25%;
    height: 100%;
    background: #6bb289;
    @include media-query($on-palm) {
        position: relative;
        width: 100%;
        height: auto;
    }
}
.site-header-wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.site-header-line {
    display: block;
    height:5px;
    width:100%;
    margin:0px;
    padding:0px;
    background-color: #aaaaaa;
}

.site-title {
    font-size: 26px;
    font-weight: 200;
    line-height: 45px;
    letter-spacing: 5px;
    padding-top:20px;
    //border-top: 5px solid $grey-color-dark;
    //float: left;
    display: block;
    &,
    &:visited {
        color: $grey-color-dark;
    }
    &::first-letter {
        font-size: 200%;
        font-weight: 100;
    }
    &:hover {
        text-decoration: none;
        //background-color: #efefef;
    }
    @include media-query($on-laptop) {
        font-size:18px;
        &::first-letter {
            font-size: 37px;
        }
    }
    @include media-query($on-palm) {
        display:inline;
        padding-left:10px;
    }
}

.site-subtitle {
    font-size: 15px;
    font-weight: 200;
    width:80%;
    padding-left:20%;
    //line-height: 45px;
    //letter-spacing: -1px;
    padding-bottom: 20px;
    //text-align: right;
    //color: $grey-color;
    display: block;
    @include media-query($on-palm) {
        width: auto;
        display: inline;
        padding-left:0px;
        padding-bottom: 0px;
    }
}

.site-nav {
    //float: right;
    line-height: 30px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $grey-color;
        line-height: 2;
        display:block;
        width:100%;
        margin: 10px 0px;
        letter-spacing: 2px;
        font-weight: 200;
        font-size: 18px;

        &:hover, &.active {
            text-decoration: none;
            color: $text-color;
            border-right: 5px solid #424242;
        }

        @include media-query($on-laptop) {
            line-height: 1.7;
        }
    }

    .page-category-wrapper {
        padding-left: 20px;

        .category {
            color: $grey-color;
            font-weight:200;
            letter-spacing: 2px;
            line-height: 2;
            margin:5px 0px;
            display: block;
            font-size: 16px;
            width: 100%;

            @include media-query($on-laptop) {
                font-size: 80%;
            }
        }

        .category-dev:hover, .category-dev.active {
            color: $dev-color;
            text-decoration: none;
            border-right: 5px solid $dev-color;
        }

        .category-game:hover, .category-game.active {
            color: $game-color;
            text-decoration: none;
            border-right: 5px solid $game-color;
        }

        .category-music:hover, .category-music.active {
            color: $music-color;
            text-decoration: none;
            border-right: 5px solid $music-color;
        }

        .category-life:hover, .category-life.active {
            color: $life-color;
            text-decoration: none;
            border-right: 5px solid $life-color;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: left;
        z-index:1;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
            width:100px;
            border-right: 5px solid rgba(0,0,0,0);

            &:not(:last-child) {
                margin-right: 0;
            }
        }

        .page-category-wrapper .category {
            color: $grey-color;
            line-height: 2;
            display: block;
            width: calc(100% - 5px);
            border-right: 5px solid rgba(0,0,0,0);
        }

    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Posts
 */
 .post {
     padding-top:$spacing-unit;
 }

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 0px;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h2 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Page content
 */

.page-content {
    width: 80%;
    padding-left: 20%;

    .cover-img-container {
        overflow:hidden;
        width:100%;
        height:400px;
        position:relative;
        img {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            display:block;
            width: 100%;
            margin:auto;
        }
    }

    @include media-query($on-palm) {
        width:100%;
        padding:0;
    }
}

.page-heading {
    font-size: 35px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        //margin-bottom: $spacing-unit;
    }

    .post-list-item {
        width:100%;
        height:200px;
        position:relative;
        overflow:hidden;

        img  {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            display:block;
            width:100%;
            margin:auto;
        }
        .black-overlay {
            position:absolute;
            width:100%;
            height:100%;
            background-color:rgba(0,0,0,0.1);
        }
        .post-info-white {
            position:absolute;
            padding: 20px 30px;
            width:auto;
            height:auto;
            .post-meta, .post-link {
                color: white;
            }
        }
        .post-cover-pattern {
            position:absolute;
            background-image: url("/image/white-pattern.png");
            background-repeat: repeat;
            width:100%;
            height:100%;
        }
        .post-info-black {
            position:absolute;
            padding: 20px 30px;
            width:auto;
            height:auto;
            .post-meta, .post-link {
                color: $grey-color;
            }
        }

        @include media-query($on-palm) {
            height: 150px;

            .post-info-white, .post-info-black{
                padding: 10px 20px;
            }
        }
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    margin-top:-14px;
}


/**
 * Category content
 */

.category-wrapper {
    padding-top: $spacing-unit;
    max-width: calc(800px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
    @include media-query($on-palm) {
        padding-top: 0;
    }
}

.category-heading {
    font-size: 35px;
    font-weight: 100;
    letter-spacing: 5px;
}