---
layout: default
---
<div class="category-wrapper">
<h1 class="category-heading" style="color:{{page.category-color}}">{{page.category-index | capitalize}}</h1>

<ul class="post-list">
    {% for post in site.categories[page.category-index] %}
        {% unless post.draft %}
        <li>

            <div class="post-list-item">
            {% if post.cover-img %}
                <img class = "cover-img" src="{{post.cover-img}}" >
                <div class="black-overlay"
                style="background-color:rgba(0,0,0,{{post.img-overlay}})"></div>
            {% else %}
                <div class="post-cover-pattern"> </div>
            {% endif %}

            {% if post.item-black == false %}
                <div class="post-info-white">
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                </div>
            {% else %}
                <div class="post-info-black">
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                </div>
            {% endif %}

            </div>
        </li>
        {% endunless %}
    {% endfor %}
</ul>
</div>
